<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Error - Simple BBS</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="error.css">
</head>
<body>
  <a href="/"><h1>Simple BBS</h1></a>

  <h2>Error</h2>
  <div class="ErrorMessage">
    エラーが発生しました。<br>
    誤ったURLが入力された可能性があります。<br>
    <p><a href="/">Back to top</a></p>
  </div>
</body>
</html>
