<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Error - Simple BBS</title>
</head>
<body>
  <h1>Error</h1>
  <div class="ErrorMessage">
    エラーでーす
  </div>
  
  <form method="get" action="1">
    <input type="submit" value="Back to Top">
  </form>
</body>
</html>
